# AniDB.net config
#ANIDB_CLIENT_ID=
#ANIDB_CLIENT_VERSION=

# Spring Security

#jwt_key=

## OAuth2

### Google
#spring_security_oauth2_client_registration_google_client-id=
#spring_security_oauth2_client_registration_google_client-secret=

### Github
#spring_security_oauth2_client_registration_github_client-id=
#spring_security_oauth2_client_registration_github_client-secret=
